.hTitle{
    display: flex;
    justify-content: center;
}
.slideBox{
    /* border: 2px solid black; */
   padding: 0px 200px;
}
.slideCont{
    /* border: 2px solid red; */
    /* display: flex; */
    gap: 0px;
    justify-content: center;
    /* width: 900px; */
}

@media only screen  and (min-width : 320px)  and (max-width: 425px){
    .slideBox{
        /* border: 2px solid black; */
       padding: 0px 30px;
       width: 100%;
    }
    .imgs{
        width: 90%;
    }
    

}