.parentBox{
    background-color: #02202f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 0 auto;
    padding: 10px 0;
}

@media only screen  and (max-width: 425px) {
    
.parentBox p{
    font-size: 10px
}

}